<div class="info-cont">
    <div class="info-heading">
        <h2 class="info-heading-title">Funções</h2>

        <a href="{{url}}/funcoes/novo" class="btn btn-danger">Novo <i class="fas fa-plus-circle"></i></a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Administrador</td>
                <td>Administrador</td>
                <td>
                    <a href="{{url}}/funcoes/1/deletar" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                    <a href="{{url}}/funcoes/1/editar" class="btn btn-primary"><i class="fas fa-pencil"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>