@use 'variables'
    
.bg-info 
    background-color: lighten(variables.$blue, 10%)

.bg-success
    background-color: variables.$green
   
.bg-danger
    background-color: variables.$red

.bg-warning
    background-color: variables.$yellow

.bg-dark
    background-color: variables.$black

.bg-primary
    background-color: variables.$primary-color

.bg-secondary
    background-color: variables.$secondary-color

.bg-tertiary
    background-color: variables.$tertiary-color