@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Nunito", sans-serif;
  color: #1c1c1c;
}

.bg-info {
  background-color: #4f7bff;
  color: white;
}

.bg-success {
  background-color: #2e9e30;
  color: white;
}

.bg-danger {
  background-color: #fa3e2d;
  color: white;
}

.bg-warning {
  background-color: #d1d10f;
  color: black;
}

.bg-dark {
  background-color: #1c1c1c;
  color: white;
}

.bg-white {
  background-color: white;
  color: black;
}

.bg-primary {
  background-color: #037bfc;
  color: white;
}

.bg-secondary {
  background-color: #7b03fc;
  color: white;
}

.bg-tertiary {
  background-color: #d703fc;
  color: white;
}

.p-1 {
  padding: 5px;
}

.pl-1 {
  padding-left: 5px;
}

.pt-1 {
  padding-top: 5px;
}

.pr-1 {
  padding-right: 5px;
}

.pb-1 {
  padding-bottom: 5px;
}

.p-2, .btn {
  padding: 10px;
}

.pl-2 {
  padding-left: 10px;
}

.pt-2 {
  padding-top: 10px;
}

.pr-2 {
  padding-right: 10px;
}

.pb-2 {
  padding-bottom: 10px;
}

.p-3, .form-control {
  padding: 15px;
}

.pl-3 {
  padding-left: 15px;
}

.pt-3 {
  padding-top: 15px;
}

.pr-3 {
  padding-right: 15px;
}

.pb-3 {
  padding-bottom: 15px;
}

.p-4 {
  padding: 20px;
}

.pl-4 {
  padding-left: 20px;
}

.pt-4 {
  padding-top: 20px;
}

.pr-4 {
  padding-right: 20px;
}

.pb-4 {
  padding-bottom: 20px;
}

.p-5 {
  padding: 25px;
}

.pl-5 {
  padding-left: 25px;
}

.pt-5 {
  padding-top: 25px;
}

.pr-5 {
  padding-right: 25px;
}

.pb-5 {
  padding-bottom: 25px;
}

.p-6 {
  padding: 30px;
}

.pl-6 {
  padding-left: 30px;
}

.pt-6 {
  padding-top: 30px;
}

.pr-6 {
  padding-right: 30px;
}

.pb-6 {
  padding-bottom: 30px;
}

.p-7 {
  padding: 35px;
}

.pl-7 {
  padding-left: 35px;
}

.pt-7 {
  padding-top: 35px;
}

.pr-7 {
  padding-right: 35px;
}

.pb-7 {
  padding-bottom: 35px;
}

.p-8 {
  padding: 40px;
}

.pl-8 {
  padding-left: 40px;
}

.pt-8 {
  padding-top: 40px;
}

.pr-8 {
  padding-right: 40px;
}

.pb-8 {
  padding-bottom: 40px;
}

.p-9 {
  padding: 45px;
}

.pl-9 {
  padding-left: 45px;
}

.pt-9 {
  padding-top: 45px;
}

.pr-9 {
  padding-right: 45px;
}

.pb-9 {
  padding-bottom: 45px;
}

.p-10 {
  padding: 50px;
}

.pl-10 {
  padding-left: 50px;
}

.pt-10 {
  padding-top: 50px;
}

.pr-10 {
  padding-right: 50px;
}

.pb-10 {
  padding-bottom: 50px;
}

.m-1 {
  margin: 5px;
}

.ml-1 {
  margin-left: 5px;
}

.mt-1 {
  margin-top: 5px;
}

.mr-1 {
  margin-right: 5px;
}

.mb-1, .form-label {
  margin-bottom: 5px;
}

.m-2 {
  margin: 10px;
}

.ml-2 {
  margin-left: 10px;
}

.mt-2 {
  margin-top: 10px;
}

.mr-2 {
  margin-right: 10px;
}

.mb-2 {
  margin-bottom: 10px;
}

.m-3 {
  margin: 15px;
}

.ml-3 {
  margin-left: 15px;
}

.mt-3 {
  margin-top: 15px;
}

.mr-3 {
  margin-right: 15px;
}

.mb-3 {
  margin-bottom: 15px;
}

.m-4 {
  margin: 20px;
}

.ml-4 {
  margin-left: 20px;
}

.mt-4 {
  margin-top: 20px;
}

.mr-4 {
  margin-right: 20px;
}

.mb-4, .form-input {
  margin-bottom: 20px;
}

.m-5 {
  margin: 25px;
}

.ml-5 {
  margin-left: 25px;
}

.mt-5 {
  margin-top: 25px;
}

.mr-5 {
  margin-right: 25px;
}

.mb-5 {
  margin-bottom: 25px;
}

.m-6 {
  margin: 30px;
}

.ml-6 {
  margin-left: 30px;
}

.mt-6 {
  margin-top: 30px;
}

.mr-6 {
  margin-right: 30px;
}

.mb-6 {
  margin-bottom: 30px;
}

.m-7 {
  margin: 35px;
}

.ml-7 {
  margin-left: 35px;
}

.mt-7 {
  margin-top: 35px;
}

.mr-7 {
  margin-right: 35px;
}

.mb-7 {
  margin-bottom: 35px;
}

.m-8 {
  margin: 40px;
}

.ml-8 {
  margin-left: 40px;
}

.mt-8 {
  margin-top: 40px;
}

.mr-8 {
  margin-right: 40px;
}

.mb-8 {
  margin-bottom: 40px;
}

.m-9 {
  margin: 45px;
}

.ml-9 {
  margin-left: 45px;
}

.mt-9 {
  margin-top: 45px;
}

.mr-9 {
  margin-right: 45px;
}

.mb-9 {
  margin-bottom: 45px;
}

.m-10 {
  margin: 50px;
}

.ml-10 {
  margin-left: 50px;
}

.mt-10 {
  margin-top: 50px;
}

.mr-10 {
  margin-right: 50px;
}

.mb-10 {
  margin-bottom: 50px;
}

.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  border: none;
  transition: 0.3s;
  color: black;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
.btn i {
  color: white;
}
.btn:focus {
  border: 1px solid #037bfc;
}
.btn-primary {
  background-color: #037bfc;
  color: white;
}
.btn-danger {
  background-color: #fa3e2d;
  color: white;
}
.btn-danger:hover {
  background-color: #ee1906;
}

.form {
  background-color: white;
}
.form-label {
  font-size: 16px;
  font-weight: bold;
}
.form-input {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}
.form-control {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ededed;
  background-color: #ededed;
  width: 100%;
  transition: 0.3;
}
.form-control:focus {
  border: 1px solid #037bfc;
}

.table {
  border-collapse: collapse;
  width: 100%;
}
.table th, .table td {
  padding: 20px;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
}
.table tr:last-child td {
  border: none;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}
.container .nav {
  background-color: #0256b0;
  color: white;
}
.container .nav-header {
  padding: 20px;
  background-color: #037bfc;
}
.container .nav-header-title {
  font-size: 30px;
  color: white;
}
.container .nav a {
  text-decoration: none;
  color: white;
}
.container .nav-list {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.container .nav-list-item {
  padding: 20px;
  width: 100%;
  display: inline-block;
  font-size: 20px;
  color: white;
  transition: 0.3s;
  border-top: 1px solid #024a97;
}
.container .nav-list-item:hover {
  background-color: #024a97;
}
.container .nav-list-item i {
  color: white;
  margin-right: 10px;
}
.container .content {
  padding: 40px;
  background-color: #f0f0f0;
}
.container .content .info-cont {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 40px;
  background-color: white;
  border: 1px solid #d9d9d9;
}
.container .content .info-cont .info-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 15px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 40px;
}
.container .content .info-cont .info-heading-title {
  font-size: 40px;
}
.container .content .info-cont .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.container .content .info-cont .cards a {
  text-decoration: none;
  color: white;
}
.container .content .info-cont .cards .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 35px;
  box-shadow: 0px 0px 5px #d9d9d9;
  font-size: 20px;
}
.container .content .info-cont .cards .card-title h3, .container .content .info-cont .cards .card-result h3 {
  color: white;
}

/*# sourceMappingURL=style.css.map */
