<div class="info-cont">
    <div class="info-heading">
        <h2 class="info-heading-title">{{title}}</h2>
    </div>

    <form action="{{url}}/painel/consultas/novo" method="POST" class="form">
        <div class="form-input">
            <label class="form-label" for="pacient_name">Nome do Paciente: </label>
            <input type="text" name="pacient_name" id="pacient_name" placeholder="Nome do Paciente" class="form-control" required="required" />
        </div>
        <div class="form-input">
            <label class="form-label" for="date_query">Data da Consúlta: </label>
            <input type="datetime-local" name="date_query" id="date_query" placeholder="Data da Consúlta" class="form-control" required="required" />
        </div>
        <div class="form-input">
            <label class="form-label" for="description">Descrição: </label>
            <textarea name="description" id="description" placeholder="Descrição" class="form-control" required="required" rows="5"></textarea>
        </div>

        <input type="submit" value="Salvar" class="btn btn-primary p-3 mt-4" />
    </form>
</div>