<div class="info-cont">
    <div class="info-heading">
        <h2 class="info-heading-title">Consúltas</h2>

        <a href="{{url}}/consultas/novo" class="btn btn-danger">Novo <i class="fas fa-plus-circle"></i></a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome do Paciente</th>
                <th>Status</th>
                <th>Data da Consúlta</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Ryan Menezes</td>
                <td>Marcado</td>
                <td>10/10/2010</td>
                <td>
                    <a href="{{url}}/consultas/1/deletar" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                    <a href="{{url}}/consultas/1/editar" class="btn btn-primary"><i class="fas fa-pencil"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>