<div class="info-cont">
    <div class="info-heading">
        <h2 class="info-heading-title">Bem-vindo ao painel de controle</h2>
    </div>

    <div class="cards">
        <a href="{{url}}/painel/usuarios" title="Usuários">
            <div class="card bg-secondary">
                <div class="card-title">
                    <h3>Usuários</h3>
                </div>
                <div class="card-result">
                    <h3>30</h3>
                </div>
            </div>
        </a>
        
        <a href="{{url}}/painel/consultas" title="Consúltas">
            <div class="card bg-tertiary">
                <div class="card-title">
                    <h3>Consúltas</h3>
                </div>
                <div class="card-result">
                    <h3>30</h3>
                </div>
            </div>
        </a>
        
        <a href="{{url}}/painel/funcoes" title="Funções">
            <div class="card bg-dark">
                <div class="card-title">
                    <h3>Funções</h3>
                </div>
                <div class="card-result">
                    <h3>30</h3>
                </div>
            </div>
        </a>
        
        <a href="{{url}}/painel/permissoes" title="Permissões">
            <div class="card bg-success">
                <div class="card-title">
                    <h3>Permissões</h3>
                </div>
                <div class="card-result">
                    <h3>30</h3>
                </div>
            </div>
        </a>
    </div>
</div>