<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{config 'app.name'}} | Login</title>
    <link rel="stylesheet" href="{{url}}/assets/css/auth/login.css" />
</head>
<body>
    {{{body}}}
</body>
</html>